@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* general style */
:root {
    --orange: #fa924a;
    --green: #32b768;
    --white-green: #f6fbf8;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}



.content {
    min-height: 100%;
}

section {
    padding: 2rem 8%;
}

.heading {
    text-align: center;
    padding: .5rem;
    margin: 1.5rem auto;
    font-size: 2rem;
    color: var(--black);
    background: url(../public/images/heading_bg.png) no-repeat;
    width: 50rem;
    background-position: center;
    background-size: cover;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    background: var(--green);
    border-radius: 2rem;
    font-weight: bold;
}

.btn:hover {
    background: var(--orange);
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 8px;
    background-color: var(--orange);
    color: white;
    z-index: 200;
}

.skip-link:focus {
    top: 0;
}

/* header style */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: auto 1fr auto auto;
    padding: 1rem 7%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header__logo {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    color: var(--black);
    padding: .5rem;
}

.header__logo img {
    width: 44px;
    color: var(--green);
    line-height: 3.5rem;
}

.header__logo i {
    color: var(--green);
    line-height: 3.2rem;
}

.header__navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--black);
    display: inline-block;
    padding: 1.1rem;
    margin: .2rem;
}

.header__navbar a:hover {
    color: var(--green);
}

.header__navbar a:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--green);
    transition: .4s linear;
}

.header__icons button {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    cursor: pointer;
    border-radius: 50%;
}

.header__icons button:hover {
    color: #fff;
    background-color: var(--green);
}

#menuBtn {
    display: none;
}

.searchContainer {
    margin: 2rem auto 3rem;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: 4rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    box-shadow: var(--box-shadow);
    outline: none;
}

.searchContainer input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.searchContainer button {
    height: 100%;
    width: 6rem;
    font-size: 2.2rem;
    text-align: center;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

/* hero style */
.hero {
    width: 100%;
    height: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero__img {
    width: 100%;
    height: 100%;
    display: flex;
}

.hero__img img {
    object-fit: cover;
    width: 100%;
    height: 43rem;
}

.hero__content {
    width: 85%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
    border-radius: 2rem;
    color: var(--green);
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.hero__title {
    color: white;
    border-radius: 2rem;
    font-size: 3rem;
}

.hero__title span:first-child {
    color: var(--green);
}

.hero__title span:last-child {
    color: var(--orange);
}

.hero__description {
    color: white;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

/* restaurant list style */
.restaurant-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
    margin-top: 2.5rem;
    margin: auto;
}

.restaurants__item {
    background: #fff;
    outline: var(--outline);
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.restaurants__item:hover {
    background: #f6fbf8;
}

.restaurants__rate {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: .5rem 3rem;
    font-size: 1.2rem;
    border-bottom-right-radius: 2rem;
    z-index: 3;
}

.restaurants__rate i {
    color: var(--green);
}

.restaurants__rate p {
    color: var(--light-color);
    font-weight: bold;
}

.restaurants__img {
    width: 100%;
    height: 16rem;
}

.restaurants__img img {
    width: 100%;
    height: 16rem;
    border-radius: 2rem;
    object-fit: cover;
}

.restaurants__content {
    margin: .5rem 1.5rem;
}

.restaurants__name {
    text-align: center;
    color: var(--black);
    font-size: 1.7rem;
    margin-bottom: .5rem;
}

.restaurants__place {
    font-size: 1.3rem;
    color: var(--light-color);
}

.restaurants__desc {
    margin-top: .7rem;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.restaurants__content .btn {
    margin-bottom: .5rem;
    text-align: center;
    width: 100%;
}

/* footer style */
.footer {
    background: var(--white-green);
    padding: 2.5rem;
    margin-top: 2rem;
}

.footer-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, .5fr));
    gap: 3rem;
}

.footer__item p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer__item h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer__share a {
    height: 4.7rem;
    width: 4.7rem;
    line-height: 4.7rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
    margin-top: 2rem;
    border-radius: 50%;
}

.footer__share a:hover {
    background: var(--green);
    color: #fff;
}

.footer__links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    margin-bottom: .4rem;
    padding: 1.2rem 0;
}

.footer__links:hover {
    padding-right: 2rem;
    color: var(--green);
    margin-left: 1rem;
}

.footer__email {
    width: 90%;
    margin: .7rem 0;
    padding: 1.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 2rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer__credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer__credit span {
    color: var(--green);
}

/* detail style */
/* detail hero style */

.detail-hero {
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.detail-hero__img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
}

.detail-hero__descriptions {
    width: 85%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
    border-radius: 2rem;
    color: var(--green);
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.detail-hero__title {
    font-size: 4rem;
}

.detail-hero__location,
.detail-hero__rate {
    color: white;
    font-size: 2rem;
}

.detail-hero__rate i {
    color: var(--orange);
}

.detail-desc__description {
    font-size: 1.7rem;
}

.detail-desc__category-title,
.detail-desc__menu-title,
.detail-desc__review-title {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: var(--green);
    text-align: center;
    margin-top: 3rem;
}

/* user reviews form style */
.reviews__form {
    padding: 2rem;
}

.reviews__input-name {
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 2rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    outline: none;
}

.reviews__textarea {
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 2rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    outline: none;
    margin-top: 2rem;
}

.reviews__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    padding-top: 2rem;
    gap: 1.5rem;
}

/* error or empty message style */
.error-or-empty-message {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    gap: 3rem;
}

.error-or-empty-message__img {
    width: 10rem;
}

.error-or-empty-message__title {
    font-size: 2.5rem;
    color: var(--green);
}

/* like button style */

.like {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);

    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    border: 0;

    font-size: 18px;
    color: white;
    cursor: pointer;
}